option_settings:
  aws:autoscaling:launchconfiguration:
    RootVolumeSize: 200
    RootVolumeType: gp2

commands:
  01_clean_tmp:
    command: rm -rf /tmp/* || true
  02_clean_var_tmp:
    command: rm -rf /var/tmp/* || true
  03_clean_var_cache:
    command: yum clean all || true
  04_clean_var_lib_yum:
    command: rm -rf /var/cache/yum || true
  05_clean_var_log:
    command: find /var/log -type f -name "*.gz" -delete || true
  06_clean_usr_src:
    command: rm -rf /usr/src/* || true 